{% extends "master.html" %}

{% block content %}
<h2 class="text-center">Edit Asset</h2>
	<form  action="{{asset.id}}" method="post">
		<div class="col-md-6 col-md-offset-3">
			<div class="form-group"><label>Asset Name: </label>{{form.name}}</div>
			<div class="form-group"><label>Location Name: </label>{{form.location}}</div>
			<div class="form-group"><label>Organization Name: </label>{{form.organization}}</div>
			<div class="form-group"><label>Manufacturer Name: </label>{{form.manufacturer}}</div>
			<div class="form-group"><label>Manufacturer Part Number: </label>{{form.part_number}}</div>
			<div class="form-group"><label>Description: </label>{{form.description}}</div>
			<div class="form-group"><label>Date Implemented: </label>{{form.implemented}}</div>
			<div class="form-group"><label>Maintenance Notes: </label>{{form.notes}}</div>
			<input type="submit" class="btn btn-info" value="Submit Edits">
		</div>
	</form>
{% endblock %}