{% extends "master.html" %}

{% block content %}
	<form  action="GroupProject3/editAsset/{{asset.id}}/" method="post">
		<div class="text-center">
			<div><label>Asset Name</label>{{form.name}}</div>
			<div><label>Location Name</label>{{form.location}}</div>		
			<div><label>Organization Name</label>{{form.organization}}</div>
			<div><label>Manufacturer Name</label>{{form.manufacturer}}</div>
			<div><label>Description</label>{{form.description}}</div>
			<div><label>Date Implemented</label>{{form.implemented}}</div>
			<div><label>Notes</label>{{form.notes}}</div>
			<input type="submit" value="Submit">
		</div>
	</form>
{% endblock %}