{% extends "master.html" %}

{% block content %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
    	<h2 class="text-center">Assets</h2>
        <div class="col-md-3 col-md-offset-8" style="padding-bottom:10px;">
            <div class="input-group">
                <form action="/GroupProject3/searchAssets/" method="post">
                    <input type="text" class="form-control" placeholder="Search for..." name="searchString">
                    <span class="input-group-btn" style="display:block; ">
                            <input class="btn btn-default" value="Go" type="submit">Go</input>
                    </span>
                </form>
            </div>
        </div>
        <div class="col-md-1">
            <a href="/GroupProject3/addAsset/" class="btn btn-info">Add Asset</a>
        </div>
    	<br>
		<table class="table table-striped table-hover table-bordered info">
			<tr class="">
				<th>Name</th>
				<th>Location</th> 
		    	<th>Manufacturer</th>
		    	<th>Manufacturer Part #</th>  
		    	<th>Description</th> 
		    	<th>Date Implemented</th> 
		    	<th>Maintenance Notes</th> 
		    	<th>Actions</th>
			</tr>
		{% for asset in assets%}
		  <tr>
		    <td>{{ asset.name}}</td>
		    <td>{{ asset.location.name}}</td>
		    <td>{{ asset.manufacturer.name}}</td>
		    <td>{{ asset.part_number}}</td>
		    <td>{{ asset.description}}</td>
		    <td>{{ asset.implemented}}</td>
		    <td>{{ asset.notes}}</td>
		    <td>
		    	<a href="/GroupProject3/editAsset/{{ asset.id }}">Edit <i class="glyphicon glyphicon-pencil"></i></a>
		    	<br> 
		    	<a href="/GroupProject3/deleteAsset/{{ asset.id }}">Delete <i class="glyphicon glyphicon-trash"></i></a>
		    </td>
		  </tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}