{% extends "master.html" %}

{% block content %}
    <div class="col-md-1"></div>
    <div class="col-md-10">
    	<h2 class="text-center">Assets</h2>
       	<form class="text-right">
        	<a href="/GroupProject3/addAsset/" class="btn btn-info">Add Asset</a>
    	</form>
    	<br>
		<table class="table table-striped table-bordered info" style="width:100%">
			<tr class="">
				<th>Name</th>
				<th>Location</th> 
		    	<th>Manufacturer</th>
		    	<th>Manufacturer Part #</th>  
		    	<th>Description</th> 
		    	<th>Date Implemented</th> 
		    	<th>Maintenance Notes</th> 
		    	<th>Actions</th>
			</tr>
		{% for asset in assets%}
		  <tr>
		    <td>{{ asset.name}}</td>
		    <td>{{ asset.location.name}}</td>
		    <td>{{ asset.manufacturer.name}}</td>
		    <td>{{ asset.part_number}}</td>
		    <td>{{ asset.description}}</td>
		    <td>{{ asset.implemented}}</td>
		    <td>{{ asset.notes}}</td>
		    <td>
		    	<a href="/GroupProject3/editAsset/{{ asset.id }}">Edit <i class="glyphicon glyphicon-pencil"></i></a>
		    	<br> 
		    	<a href="/GroupProject3/deleteAsset/{{ asset.id }}">Delete <i class="glyphicon glyphicon-trash"></i></a>
		    </td>
		  </tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}